<!DOCTYPE html>
<html>
<head>
    <title>Generate QR Code</title>
</head>
<body>
    <h1>Generate a QR Code</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="data">Enter Data:</label>
        <input type="text" id="data" name="data" required>
        <br>
        <label for="logo">Upload Logo:</label>
        <input type="file" id="logo" name="logo">
        <br>
        <label for="color">Choose Color:</label>
        <input type="text" id="color" name="color" value="black">
        <br>
        <button type="submit">Generate</button>
    </form>
</body>
</html>
